post_generation_actions.html

Activate*.cmd
Activate*.sh
Deactivate*.cmd
Deactivate*.sh

**/__pycache__/**
**/Generated/**

.vscode/
.coverage
.DS_Store
minisign_key.pri
post_generation_instructions.html
